
@import 'variables';

.btn {
    font-size: 16px;
    padding: 8px 12px;
}

.info-container {

    font-size: 16px;

    .info-wrap {

        position: relative;

        border: 2px solid map-get($colors, 'icon-bg');
        // background-color: map-get($colors, 'icon-bg');
        color: #7d7d7d;

        border-radius: 3px;
        margin-bottom: 0.3*$icon-height;

        transition: border-color 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

        &.active {
            border: 2px solid #DEAE71;

            .info-label {
                background-color: #DEAE71;
            }
        }

        .info-label {
            transition: background-color .5s cubic-bezier(0.22, 0.61, 0.36, 1);
            color: map-get($colors, 'icon-fg');
            background-color: map-get($colors, 'icon-bg');
        }

        input {
            width: 100%;
            padding-right: $icon-width*0.7;
            // background: white;

            // line-height: 40px;
            line-height: 1;
            height: 100%;

            -webkit-appearance: none;
            border-radius: 0;
            // vertical-align: baseline;
            padding-left: $input-padding-left;
            padding-right: $input-padding-right;
            // padding-bottom: 4px;
        }

        .key, .value, .aux {

            height: $icon-height;
            line-height: $icon-height;
        }
        .key, .aux {
            position: absolute;
            top:0;
            width: $icon-width;
            text-align: center;
        }
        .key {
            i {
                font-size: 1.2em;
            }
        }
        .aux {
            color: #7d7d7d;
            right: 0;
            cursor: pointer;
            background: none;
            transition: color .7s ease;
            i {
                font-size: 1.2em;
            }
            &.active {
                color: #5385f7;
            }
        }
        .value {
            position: relative;
            padding-left: $icon-width;
            padding-right: 0;
            input {
                padding-right: 3em;
            }
        }
    }   
}

.tags-wrap {
    position: relative;
    text-align: center;
    min-height: 320px;

    .tag {
        position: relative;
        width: map-get($tag, 'width');
        height: map-get($tag, 'height');
        border-radius: 50%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
        color: map-get($colors, 'tag-fg');;
        box-shadow: 1.5px 1.5px 3px 0px rgba(51, 51, 102, 0.24);

        background: map-get($colors, 'tag-bg');;
        border: 1px solid #eee;

        // text-align: center;
        cursor: pointer;
        transition: background-color .4s $effect,
                    border-color .5s ease,
                    box-shadow .8s ease, 
                    color .3s cubic-bezier(0.4, 0, 1, 1),
                    opacity .3s ease;
        display: inline-block;

        .txt, .icon {
            position: absolute;
            left: 0;
            width: 100%;
            font-size: 12px;
            text-align: center;
        }
        .txt {
            top: 36px;
        }
        .icon {
            top: 14px;
            font-size: 20px;
        }

        &.selected {
            background: map-get($colors, 'tag-bg-active');
            color: map-get($colors, 'tag-fg-active');
            box-shadow: inset 2px 2px 2px 0.5px rgba(120, 120, 120, 0.4);
            .icon {
                padding-left: 1px;
                padding-top: 1px;
                font-size: 18.5px;
            }
            .txt {
                font-size: 11.5px;
            }
        }

    }
}

.save-wrap {
    position: fixed;
    z-index: map-get($zIndex, 'save-btn');
    bottom: 0;

    font-size: 17px;

    width: 100%;
    height: 48px;
    text-align: right;
    box-shadow: 0px 0px 8px 1px rgba(68, 68, 68, 0.2);
    
    .save-btn {

        background-color: map-get($colors, 'header-bg');
        border-color: #829D88;

        &:active,
        &:hover {
            background-color: #829D88;
            border-color: #829D88;
        }

        width: 100%;
        height: 100%;
        padding:0;
        border-radius: 0;

        .save-text {
            height: 100%;
            line-height: 48px;
            letter-spacing: 0.5px;
            padding-right: 0.5em;
            font-size: 1.4em;
        }
        .save-icons {
            width: 1.5em;
            font-size: 1.2em;
            .status {
                width: 1.5em;
            }
        }
    }
}

#header {
    .add-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 72px;
        text-align: center;
        font-size: 30px;
        text-shadow: 2.5px 2.5px 2px rgba(117, 117, 117, 0.75);
        &:active {
            // background-color: #4d6a53;
            text-shadow: -2px -2px 2px rgba(130, 130, 130, 0.4);
        }
    }
}


