.d-ib {
    display: inline-block;
    // float: left;
}
.d-n {
    display: none;
}
.op-0 {
    opacity: 0;
}

$theme: (
    g:  #00893A,
    db: #0067A6,
    b:  #00ABD8,
    y:  #EFC028,
    r:  #F2572D
);

$tag: (
    bg: #afb6bb,
    bg-selected: #27384c,
    fg: white,
    fg-selected: white,
    width: 64px,
    height: 64px
);

$zIndex: (
    header: 5
);

$heights: (
    header: 56px
);

$effect: cubic-bezier(0.18, 0.89, 0.41, 1.18);

$icon-width: 2.5em;
$icon-height: 2.5em;
$input-padding-left: 0.5em;
$input-padding-right: 0.5em;


.info-container {

    .info-wrap {

        position: relative;
        border: 2px solid #ddd;
        color: #7d7d7d;
        border-radius: 3px;
        margin-bottom: 0.3*$icon-height;

        input {
            width: 100%;
            padding-right: $icon-width*0.7;
        }

        .key, .value, .aux {

            height: $icon-height;
            line-height: $icon-height;
        }
        .key, .aux {
            position: absolute;
            top:0;
            width: $icon-width;
            text-align: center;
        }
        .key {
            background: #d6d6d6;
        }
        .aux {
            color: #5385f7;
            right: 0;
            cursor: pointer;
            background: none;
        }
        .value {
            position: relative;
            padding-left: $icon-width + $input-padding-left;
            padding-right: $input-padding-right;
        }
    }   
}

.tags-wrap {
    .tag {
        position: relative;
        width: map-get($tag, 'width');
        height: map-get($tag, 'height');
        border-radius: 50%;
        margin: 10px;
        color: #888;
        box-shadow: 1.5px 1.5px 3px 0px rgba(51, 51, 102, 0.24);

        background: #fafafa;
        border: 1px solid #eee;

        // text-align: center;
        cursor: pointer;
        transition: background-color .4s $effect,
                    border-color .5s ease,
                    box-shadow .8s ease, 
                    color .3s cubic-bezier(0.4, 0, 1, 1),
                    opacity .3s ease;
        display: inline-block;

        .txt, i {
            position: absolute;
            width: 100%;
            font-size: 12px;
            text-align: center;
        }
        .txt {
            top: 36px;
        }
        i {
            top: 14px;
            font-size: 20px;
        }

        &.selected {
            background: #f0f0f0;
            color: #F2572D;
            box-shadow: inset 2px 2px 2px 0.5px rgba(120, 120, 120, 0.4);
            i {
                padding-left: 1px;
                padding-top: 1px;
                font-size: 18.5px;
            }
            .txt {
                font-size: 11.5px;
            }
        }

    }
}

.save-wrap {
    text-align: right;
    .save-text {
        letter-spacing: 0.5px;
        padding-right: 0.5em;
    }
    .save-icons {
        width: 1.5em;
        .status {
            width: 1.5em;
        }
    }
}

body {
    background: #fafafa;
    .container {
        background: #f8f8f8;
    }
}

.row {
    &.info {
        padding-bottom: 2em;
    }
}

#header {
    height: map-get($heights, 'header');
    line-height: map-get($heights, 'header');
    font-size: 18px;
    color: white;
    width: 100%;
    z-index: map-get($zIndex, 'header');
    background: map-get($theme, 'r');
    padding-left: 1em;
    box-shadow: 0px 1px 4px 2px rgba(170, 170, 170, 0.3);
    position: relative;
}
#placeholder {
    display: none;
    position: relative;
    top:0;
    height: map-get($heights, 'header');
}
#wrap {
    margin-top: 32px;
}

// reset input
input {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    letter-spacing: 0.5px;
    background: none;
}