
@import 'variables';

.btn {
    font-size: 16px;
    padding: 8px 12px;
}

.info-label {
    color: map-get($colors, 'icon-fg');
    background: map-get($colors, 'icon-bg');
}

.info-container {

    font-size: 16px;

    .info-wrap {

        position: relative;

        border: 2px solid map-get($colors, 'icon-bg');
        // background-color: map-get($colors, 'icon-bg');
        color: #7d7d7d;

        border-radius: 3px;
        margin-bottom: 0.3*$icon-height;

        input {
            width: 100%;
            padding-right: $icon-width*0.7;
            // background: white;

            // line-height: 40px;
            line-height: 1;
            height: 40px;

            -webkit-appearance: none;
            border-radius: 0;
            // vertical-align: baseline;
            padding-left: $input-padding-left;
            padding-right: $input-padding-right;
            // padding-bottom: 4px;
        }

        .key, .value, .aux {

            height: $icon-height;
            line-height: $icon-height;
        }
        .key, .aux {
            position: absolute;
            top:0;
            width: $icon-width;
            text-align: center;
        }
        .key {
            i {
                font-size: 1.2em;
            }
        }
        .aux {
            color: #5385f7;
            right: 0;
            cursor: pointer;
            background: none;
        }
        .value {
            position: relative;
            padding-left: $icon-width;
            padding-right: 0;
        }
    }   
}

.tags-wrap {
    position: relative;
    text-align: center;

    .tag {
        position: relative;
        width: map-get($tag, 'width');
        height: map-get($tag, 'height');
        border-radius: 50%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 5%;
        color: map-get($colors, 'tag-fg');;
        box-shadow: 1.5px 1.5px 3px 0px rgba(51, 51, 102, 0.24);

        background: map-get($colors, 'tag-bg');;
        border: 1px solid #eee;

        // text-align: center;
        cursor: pointer;
        transition: background-color .4s $effect,
                    border-color .5s ease,
                    box-shadow .8s ease, 
                    color .3s cubic-bezier(0.4, 0, 1, 1),
                    opacity .3s ease;
        display: inline-block;

        .txt, .icon {
            position: absolute;
            left: 0;
            width: 100%;
            font-size: 12px;
            text-align: center;
        }
        .txt {
            top: 36px;
        }
        .icon {
            top: 14px;
            font-size: 20px;
        }

        &.selected {
            background: map-get($colors, 'tag-bg-active');
            color: map-get($colors, 'tag-fg-active');
            box-shadow: inset 2px 2px 2px 0.5px rgba(120, 120, 120, 0.4);
            .icon {
                padding-left: 1px;
                padding-top: 1px;
                font-size: 18.5px;
            }
            .txt {
                font-size: 11.5px;
            }
        }

    }
}

.save-wrap {
    text-align: right;
    .save-text {
        letter-spacing: 0.5px;
        padding-right: 0.5em;
    }
    .save-icons {
        width: 1.5em;
        .status {
            width: 1.5em;
        }
    }
}


