
@import 'variables';

body {
    background: map-get($colors, 'body-bg');
    .container {
        background: map-get($colors, 'container-bg');
    }
}

.row {
	&.m-0 {
		margin: 0;
	}
    &.info {
        padding-bottom: 2em;
    }
}

#header {
    height: map-get($heights, 'header');
    line-height: map-get($heights, 'header');
    font-size: 24px;
    color: map-get($colors, 'header-fg');
    width: 100%;
    z-index: map-get($zIndex, 'header');
    background: map-get($colors, 'header-bg');
    padding-left: 1em;
    // box-shadow: 0px 1px 4px 2px rgba(170, 170, 170, 0.3);
    position: relative;
    font-weight: 400;
}
#placeholder {
    display: none;
    position: relative;
    top:0;
    height: map-get($heights, 'header');
}
#wrap {
    margin-top: 32px;
    margin-bottom: 54px;
}

// reset input
input {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    letter-spacing: 0.5px;
    background: none;
}